USE [master]
GO
/****** Object:  Database [OTOKOC]    Script Date: 18.01.2022 22:03:24 ******/
CREATE DATABASE [OTOKOC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OTOKOC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OTOKOC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OTOKOC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OTOKOC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OTOKOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OTOKOC]
GO
/****** Object:  Table [dbo].[KULLANICI]    Script Date: 18.01.2022 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](50) NULL,
	[SOYAD] [nvarchar](50) NULL,
	[MAIL] [nvarchar](50) NULL,
	[KULLANICIADI] [nvarchar](50) NULL,
	[SIFRE] [nvarchar](20) NULL,
 CONSTRAINT [PK_KULLANICI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARKA]    Script Date: 18.01.2022 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARKA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
 CONSTRAINT [PK_MARKA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODEL]    Script Date: 18.01.2022 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MARKA] [int] NULL,
	[MODEL] [varchar](50) NULL,
 CONSTRAINT [PK_MODEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OZELLIK]    Script Date: 18.01.2022 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OZELLIK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODEL] [int] NULL,
	[PARCA] [int] NULL,
 CONSTRAINT [PK_OZELLIK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARCA]    Script Date: 18.01.2022 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](50) NULL,
	[NO] [int] NULL,
	[FIYAT] [int] NULL,
	[STOK] [int] NULL,
	[FOTOGRAF] [nvarchar](max) NULL,
 CONSTRAINT [PK_PARCA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARIS]    Script Date: 18.01.2022 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[ADET] [int] NULL,
	[TUTAR] [int] NULL,
	[KULLANICI] [int] NULL,
 CONSTRAINT [PK_SIPARIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KULLANICI] ON 

INSERT [dbo].[KULLANICI] ([ID], [AD], [SOYAD], [MAIL], [KULLANICIADI], [SIFRE]) VALUES (1, N'Admin', N'Admin', N'admin@admin.com', N'admin', N'123')
SET IDENTITY_INSERT [dbo].[KULLANICI] OFF
GO
SET IDENTITY_INSERT [dbo].[MARKA] ON 

INSERT [dbo].[MARKA] ([ID], [AD]) VALUES (1, N'FORD')
INSERT [dbo].[MARKA] ([ID], [AD]) VALUES (2, N'HONDA')
INSERT [dbo].[MARKA] ([ID], [AD]) VALUES (3, N'TOYOTA')
SET IDENTITY_INSERT [dbo].[MARKA] OFF
GO
SET IDENTITY_INSERT [dbo].[MODEL] ON 

INSERT [dbo].[MODEL] ([ID], [MARKA], [MODEL]) VALUES (1, 1, N'FOCUS')
INSERT [dbo].[MODEL] ([ID], [MARKA], [MODEL]) VALUES (2, 2, N'CIVIC')
INSERT [dbo].[MODEL] ([ID], [MARKA], [MODEL]) VALUES (3, 2, N'JAZZ')
SET IDENTITY_INSERT [dbo].[MODEL] OFF
GO
SET IDENTITY_INSERT [dbo].[OZELLIK] ON 

INSERT [dbo].[OZELLIK] ([ID], [MODEL], [PARCA]) VALUES (1, 1, 1)
INSERT [dbo].[OZELLIK] ([ID], [MODEL], [PARCA]) VALUES (2, 1, 2)
INSERT [dbo].[OZELLIK] ([ID], [MODEL], [PARCA]) VALUES (3, 1, 5)
SET IDENTITY_INSERT [dbo].[OZELLIK] OFF
GO
SET IDENTITY_INSERT [dbo].[PARCA] ON 

INSERT [dbo].[PARCA] ([ID], [AD], [NO], [FIYAT], [STOK], [FOTOGRAF]) VALUES (1, N'FAR', 96017, 5000, 10, N'https://w7.pngwing.com/pngs/776/321/png-transparent-headlight-car-light-device.png')
INSERT [dbo].[PARCA] ([ID], [AD], [NO], [FIYAT], [STOK], [FOTOGRAF]) VALUES (2, N'BALATA', 14689, 1000, 35, N'https://img1.pngindir.com/20180614/yyl/kisspng-car-disc-brake-automobile-repair-shop-brake-pad-5b21f2f7354f56.0413830615289515432184.jpg')
INSERT [dbo].[PARCA] ([ID], [AD], [NO], [FIYAT], [STOK], [FOTOGRAF]) VALUES (3, N'MOTOR KAPAĞI', 48927, 250, 1, N'https://st.myideasoft.com/idea/en/22/myassets/products/521/whatsapp-image-2020-02-08-at-15-49-13.jpeg?revision=1581513935')
SET IDENTITY_INSERT [dbo].[PARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[SIPARIS] ON 

INSERT [dbo].[SIPARIS] ([ID], [URUN], [ADET], [TUTAR], [KULLANICI]) VALUES (1003, 2, 3, 1000, 1)
SET IDENTITY_INSERT [dbo].[SIPARIS] OFF
GO
ALTER TABLE [dbo].[MODEL]  WITH CHECK ADD  CONSTRAINT [FK_MODEL_MARKA] FOREIGN KEY([MARKA])
REFERENCES [dbo].[MARKA] ([ID])
GO
ALTER TABLE [dbo].[MODEL] CHECK CONSTRAINT [FK_MODEL_MARKA]
GO
ALTER TABLE [dbo].[OZELLIK]  WITH CHECK ADD  CONSTRAINT [FK_OZELLIK_MODEL] FOREIGN KEY([ID])
REFERENCES [dbo].[MODEL] ([ID])
GO
ALTER TABLE [dbo].[OZELLIK] CHECK CONSTRAINT [FK_OZELLIK_MODEL]
GO
ALTER TABLE [dbo].[OZELLIK]  WITH CHECK ADD  CONSTRAINT [FK_OZELLIK_PARCA] FOREIGN KEY([PARCA])
REFERENCES [dbo].[PARCA] ([ID])
GO
ALTER TABLE [dbo].[OZELLIK] CHECK CONSTRAINT [FK_OZELLIK_PARCA]
GO
ALTER TABLE [dbo].[SIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_SIPARIS_KULLANICI1] FOREIGN KEY([KULLANICI])
REFERENCES [dbo].[KULLANICI] ([ID])
GO
ALTER TABLE [dbo].[SIPARIS] CHECK CONSTRAINT [FK_SIPARIS_KULLANICI1]
GO
ALTER TABLE [dbo].[SIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_SIPARIS_PARCA] FOREIGN KEY([URUN])
REFERENCES [dbo].[PARCA] ([ID])
GO
ALTER TABLE [dbo].[SIPARIS] CHECK CONSTRAINT [FK_SIPARIS_PARCA]
GO
USE [master]
GO
